.sectionContainer {
  margin: 0 auto;
  width: 50vw;
  display: flex;
  justify-content: flex-start;
}

.sectionContainer > img {
  height: 400px;
  margin-right: 1.5em;
}

.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.buttonContainer {
  margin: 1em auto;
  width: 50vw;
  display: flex;
  justify-content: space-around;
}