

.img {
  width: 175px;
  height: 125px;
  object-fit: contain;
}

.informationContainer {
  display: flex;
  justify-content: space-between;
  height: 30%;
}

.informationColumn {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: '30%';
}
